body {
    background-color: #4F6DF2;
}


.back-button {
    /* BACK */
    position: absolute;
    width: 89px;
    height: 63px;
    left: 108px;
    top: 98px;
    top: 98px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    border: 3px solid #262626;
    border-color: #262626;
    
    color: #262626;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;



}


.next-button {
    /* NEXT */
    position: absolute;
    width: 89px;
    height: 63px;
    left: 1337px;
    top: 98px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    border: 3px solid #262626;
    border-color: #262626;
    
    color: #262626;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.text1 {
/* Everyone knows that if you query poets about how their poems begin, the answer is always the same: */
position: absolute;
width: 1229px;
height: 51px;
left: 108px;
top: 253px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 85%;
/* identical to box height, or 51px */

text-align: justify;
letter-spacing: 0.01em;

color: #262626;
}

.text2 {
/* a phrase, a line, a scrap of language, a rhythm, an image, something seen, heard, witnessed, or imagined. */
position: absolute;
width: 1311px;
height: 1137px;
left: 108px;
top: 336px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 85%;
/* or 128px */

letter-spacing: 0.03em;
text-transform: uppercase;

color: #262626;
}

.text3 {
/* And the lesson is always the same, and young poets recognize this to be one of the most important lessons they can learn: */
position: absolute;
width: 1311px;
height: 51px;
left: 108px;
top: 1532px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 85%;
/* identical to box height, or 51px */

text-align: justify;
letter-spacing: 0.01em;

color: #262626;
}

.text4 {
/* if you have any idea for a poem, an exact grid of intent, you are on the wrong path, a dead-end alley, at the top of a cliff you haven’t even climbed. */
position: absolute;
width: 1311px;
height: 439px;
left: 108px;
top: 1635px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 85%;
/* or 128px */

text-align: justify;
text-transform: uppercase;

color: #262626;
}

.text5 {
/* This is a lesson that can only be learned by trial and error. */
position: absolute;
width: 1311px;
height: 47px;
left: 108px;
top: 2167px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 78%;
/* identical to box height, or 47px */

text-align: justify;

color: #262626;
}

.text6 {
/* I believe many */
position: absolute;
width: 510px;
height: 124px;
left: 108px;
top: 2257px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

letter-spacing: 0.02em;
text-transform: uppercase;

color: #262626;
}

.text7 {
/* fine poems */
position: absolute;
width: 510px;
height: 124px;
left: 108px;
top: 2400px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

letter-spacing: 0.02em;
text-transform: uppercase;

color: #262626;
}

.text8 {
/* begin with ideas. */
position: absolute;
width: 510px;
height: 124px;
left: 408px;
top: 2540px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

letter-spacing: 0.02em;
text-transform: uppercase;

color: #262626;
}

.text9 {
/* but if you tell */
position: absolute;
width: 510px;
height: 124px;
left: 750px;
top: 2690px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

text-transform: uppercase;

color: #262626;
}

.text10 {
/* too many */
position: absolute;
width: 510px;
height: 124px;
left: 578px;
top: 2840px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

text-transform: uppercase;

color: #262626;
}

.text11 {
/* faces this, */
position: absolute;
width: 510px;
height: 124px;
left: 348px;
top: 2990px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

text-transform: uppercase;

color: #262626;
}

.text12 {
/* or tell it too loudly, */
position: absolute;
width: 1245px;
height: 124px;
left: 496px;
top: 3140px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 83%;
/* or 124px */

text-transform: uppercase;

color: #262626;
}

.text13 {
/* they will get the wrong idea. */
position: absolute;
width: 1305px;
height: 136px;
left: 111px;
top: 3290px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 90.5%;
/* identical to box height, or 136px */

text-transform: uppercase;

color: #262626;
}