#p1 {color:#ceb934; font-family: 'Courier New', Courier, monospace, sans-serif;}
#p2 {color:#5e8d5e; font-family: 'Courier New', Courier, monospace, sans-serif;}
#p3 {color:#ebb0c7; font-family: 'Courier New', Courier, monospace, sans-serif;}
#p4 {color:#489098; font-family: 'Courier New', Courier, monospace, sans-serif;}
#p5 {color:#d72121; font-family: 'Courier New', Courier, monospace, sans-serif;}
#p6 {color:#543b7b; font-family: 'Courier New', Courier, monospace, sans-serif;}

p {font-family: 'Courier New', Courier, monospace, sans-serif;}

li {font-family: 'Courier New', Courier, monospace, sans-serif;}

h1 {font-family: 'Courier New', Courier, monospace, sans-serif;}
h2 {font-family: 'Courier New', Courier, monospace, sans-serif;}
h3 {font-family: 'Courier New', Courier, monospace, sans-serif;}
h4 {font-family: 'Courier New', Courier, monospace, sans-serif;}
h5 {font-family: 'Courier New', Courier, monospace, sans-serif;}
h6 {font-family: 'Courier New', Courier, monospace, sans-serif;}


body {background-color: rgb(241, 237, 220);}
