.item1 { 
    grid-area: bar;    
}
.item2 { 
    grid-area: back; 
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #4D6676;    
}
.item3 { 
    grid-area: about; 
    color: #4D6676; 
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 300px;
    text-align: left;
    text-transform: uppercase;    
}
.item4 { 
    grid-area: credit; 
    color: #4D6676; 
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;  
}
.item5 { 
    grid-area: info; 
    color: #4D6676; 
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;  
}
.item6 { 
    grid-area: quote; 
    color: #4D6676; 
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;  
}
.item7 { 
    grid-area: text; 
    color: #4D6676; 
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;  
}

.grid-container {
  display: grid;
  grid-template-areas:
    'bar bar bar bar back back'
    'about about about about about about'
    'credit credit credit credit credit credit'
    ' info info info info quote quote'
    'text text text text text text';
  gap: 5px;
  background-color: #4D6676;
  padding: 5px;
}

.grid-container > div {
  background-color: #E1D6BA;
  padding: 20px 0;
}


a:link { text-decoration: none; color:#4D6676;}
a:active { text-decoration: none; color:#4D6676;}
a:visited { text-decoration: none; color:#4D6676;}















body {
    background-color: #E1D6BA;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}



.nav1 {
    background-color: #E1D6BA; 
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.nav1 li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    padding-left: 22px;
    padding-right: 21px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 80%;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -3px;
    margin-top: -16px;
}


.section1 {
    list-style-type: none;
    text-align: center;
}


.section1 {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 803.5px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 240%;
    text-align: justify;
    letter-spacing: 0.02em;
    color: #4D6676;    
    margin-left: 0px;
    margin-top: -16px;
    margin-right: 0px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
}


.section2 {
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.section2 {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 85%;
    text-align: justify;
    letter-spacing: 0.02em;
    color: #4D6676;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
}


.section3 {
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.section3 {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 225%;
    text-align: justify;
    letter-spacing: 0.02em;
    color: #4D6676;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
}


.section4 {
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.section4 {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 231px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 95%;
    text-align: justify;
    letter-spacing: 0px;
    color: #4D6676;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
}


.section5 {
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.section5 {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 433px;
    padding-right: 432px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 95%;
    text-align: justify;
    letter-spacing: 1px;
    color: #4D6676;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
}


.section6 {
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.section6 {
    display: inline-block;
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 236.5px;
    padding-right: 237.5px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 205%;
    text-align: justify;
    letter-spacing: 1px;
    color: #4D6676;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
}


.nav2 {
    background-color: #E1D6BA; 
    list-style-type: none;
    text-align: center;
    padding: 0;
}


.nav2 li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    padding-left: 22.3px;
    padding-right: 22.3px;
    font-family: 'bee';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 80%;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-style: solid;
    border-color: #4D6676;
    border-width: 3px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: -3px;
    margin-top: -16px;
}
