body {
    background-color: #B29810;
}


.title {
    /* ON BEGINNINGS */
    position: absolute;
    width: 1313px;
    height: 371px;
    left: 93px;
    top: 76px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 550px;
    line-height: 450px;
    
    color: #262626;
    animation: blinkingText 2s infinite;
}

@keyframes blinkingBackground {
		0%		{ color: #262626;}
		100%	{ border: 3px solid #262626;}
	}


.subtext {
    /* From Madness, Rack and Honey by Mary Ruefle */
    position: absolute;
    width: 1112px;
    height: 110px;
    left: 93px;
    top: 465px;
    padding-top: 50px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 125%;
    /* or 125px */
    
    letter-spacing: 0.01em;
    
    color: #262626;
}


.credit {
    /* Designed by Elle Hebert Core 2: Interaction 2023 */
    position: absolute;
    width: 1112px;
    height: 79px;
    left: 93px;
    top: 587px;
    padding-top: 100px;

    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    /* or 31px */

    letter-spacing: 0.05em;

    color: #262626;
}


.button {
    /* BEGIN */
    position: absolute;
    width: 89px;
    height: 63px;
    left: 1317px;
    top: 688px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    border-style: solid;
    border-color: #262626;
    
    color: #262626;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }










