body {
  background-color: #F5F5F5;
  margin-top: 55px;
  margin-left: 55px;
  margin-bottom: 55px;
  margin-right: 55px;
  cursor: cell;
}

.link {
  color: #000000;    
  text-underline-offset: 3px;
}

.item1 { 
  grid-area: item1; 
  font-family: "rift", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  word-spacing: 100px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;    
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 15px;
}

.item2 { 
  grid-area: item2; 
  color: #000000;    
  font-family: "rift", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 155px;
  letter-spacing: -5px;
  text-align: left;
  text-transform: uppercase;   
  padding-left: 15px;
  padding-right: 15px;
}

.item3 { 
  grid-area: item3; 
  color: #000000;    
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.item4 { 
  grid-area: item4; 
  color: #000000;    
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.item5 { 
  grid-area: item5; 
  color: #000000;    
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.item6 { 
  grid-area: item6; 
  color: hsl(0, 0%, 0%);    
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 100%;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.item7 { 
  grid-area: item7; 
  color: #000000;    
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  line-height: 120%;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.item8 { 
  grid-area: item8; 
  color: #000000;     
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  line-height: 120%;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.item9 { 
  grid-area: item9; 
  color: #000000;     
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  line-height: 120%;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.item10 { 
  grid-area: item10; 
  color: #000000;     
  font-family: "rift", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.grid-container {
display: grid;
grid-template-areas:
  'item1 item1 item1 item1 item1 item1'
  'item2 item2 item2 item2 item2 item2'
  'item3 item3 item3 item3 item3 item3'
  'item4 item4 item4 item4 item4 item4'
  'item5 item5 item6 item6 item7 item7'
  'item8 item8 item8 item8 item8 item8'
  'item9 item9 item9 item9 item9 item9'
  'item10 item10 item10 item10 item10 item10';
gap: 3px;
background-color: #000000;
padding: 3px;
margin-bottom: -3px;
}

.grid-container > div {
background-color: #F5F5F5;
}
  
  .grid-container2 > div {
  background-color: #F5F5F5;
  }
  
.grid-container3 {
  display: grid;
  grid-template-areas:
    'item17 item17 item17 item17 item17 item17';
  gap: 3px;
  background-color: #000000;
  padding: 3px;
  margin-top: -3px;
  }
    
.grid-container3 > div {
  background-color: #F5F5F5;
  }
  
a:link { text-decoration: none; color:#000000;}
a:active { text-decoration: none; color:#000000;}
a:visited { text-decoration: none; color:#000000;}





