body {
    font-family: 'Crimson Pro', serif;
    font-size: 12px;
    margin: 80px;
  }
  
  .flex-container {
    display: inline-block;
    flex-wrap: nowrap;
  }
  
  
  h1 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .entries {
    margin-bottom: 100px;
  }
  
  .heading {
    margin-bottom: 60px;
  }
  
  .chapter {
    margin-bottom: 20px;
  }
  
  p {
    margin-top: 20px;
  }
  
  .page {
    margin-top: 20px;
  }
  
  
  span {
    display: block;
  }