

body {
	background-color: #4F6DF2;
    box-sizing: border-box;
    width: 100%;
    border: solid #4F6DF2 75px;
}

html {
    font-family: "trade-gothic-next-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #262626;
}

h5 {
    font-family: "bee", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 180px;
    color: #262626;
}
h6 {
    font-family: "bee", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 575px;
    color: #262626;
}

h1 {
    font-size: 120px;
}



div {
	padding: 20px;
}


section:nth-child(2),
section:nth-child(3) {
	display: flex;
	margin-top: 20px;
}