body {
    background-color: #F5F5F5;
    margin-top: 55px;
    margin-left: 55px;
    margin-bottom: 55px;
    margin-right: 55px;
  }


  

ul {
    list-style: none;
  }
  
li {
    display: flex;
    flex-direction: column; 
  }