body {
    background-color: #B29810;
}


.back-button {
    /* BACK */
    position: absolute;
    width: 89px;
    height: 63px;
    left: 108px;
    top: 98px;
    top: 98px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    border-style: solid;
    border-color: #262626;
    
    color: #262626;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;



}


.next-button {
    /* NEXT */
    position: absolute;
    width: 89px;
    height: 63px;
    left: 1337px;
    top: 98px;
    
    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.02em;
    border-style: solid;
    border-color: #262626;
    
    color: #262626;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.text1 {
/* I believe many */
    position: absolute;
    width: 682px;
    height: 207px;
    left: 95px;
    top: 237px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #262626;
}

.text2 {
/* fine poems */
    position: absolute;
    width: 496px;
    height: 207px;
    left: 95px;
    top: 487px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #262626;
}

.text3 {
/* begin with ideas. */
    position: absolute;
    width: 816px;
    height: 207px;
    left: 266px;
    top: 741px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #262626;
}

.text4 {
/* but if you tell */
    position: absolute;
    width: 608px;
    height: 207px;
    left: 476px;
    top: 991px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    text-transform: uppercase;

    color: #262626;
}

.text5 {
/* too many */
    position: absolute;
    width: 419px;
    height: 207px;
    left: 189px;
    top: 1235px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    text-transform: uppercase;

    color: #262626;
}

.text6 {
/* faces this, */
    position: absolute;
    width: 467px;
    height: 207px;
    left: 97px;
    top: 1487px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    text-transform: uppercase;

    color: #262626;
}

.text7 {
/* or tell it too loudly, */
    position: absolute;
    width: 1245px;
    height: 207px;
    left: 157px;
    top: 1749px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 83%;
    /* or 207px */

    text-transform: uppercase;

    color: #262626;
}

.text8 {
/* they will get the wrong idea. */
    position: absolute;
    width: 1305px;
    height: 226px;
    left: 97px;
    top: 1995px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 90.5%;
    /* or 226px */

    text-transform: uppercase;

    color: #262626;
}

.text9 {
/* Now here is something really interesting (to me), something you can use at a standing-up-only party when everyone is tired of hearing there are one million three-thousand-two-hundred-ninety-five words used by the Esimo for snow. This is what Ezra Pound learned from Ernest Fenollosa: Some languages are so constructed—English among them—that we each only really speak one sentence in our lifetime. That sentence begins with your first words, toddling around the kitchen, and ends with your last words right before you step into the limousine, or in a nursing home, the night-duty attendant vaguely on hand. Or, if you are blessed, they are heard by someone who knows you and loves you and will be sorry to hear the sentence end. When I told Mr. Angel about the lifelong sentence, he said: “That’s a lot of semicolons!” he is absolutely right; the sentence would be unwieldy and awkward and resemble the novel of a savant, but the next time you use a semicolon (which, by the way, is the least-used mark of punctuation in all of poetry) you should stop and be thankful that there exists this little thing, invented by a human being—an Italian as a matter of fact—that allows us to go on and keep on connecting speech that for all apparent purposes is unrelated. You might say a poem is a semicolon, a living semicolon, (large semicolon on page) what connects the first line to the last, the act of keeping together that whose nature is to fly apart. Between the first and last lines there exists—a poem—and if it were not for the poem that intervenes, */
    position: absolute;
    width: 927px;
    height: 798px;
    left: 276px;
    top: 2256px;

    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    /* or 38px */

    text-align: justify;
    letter-spacing: 0.05em;

    color: #262626;
}

.text10 {
/* the first and last lines of a poem would not speak to each other. */
position: absolute;
width: 927px;
height: 236px;
left: 276px;
top: 3130px;

font-family: 'Bee Four';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 85%;
/* or 85px */

text-align: justify;
letter-spacing: 0.01em;

color: #262626;
}

.text11 {
/* You might say a poem is a semicolon, a living semicolon, (large semicolon on page) what connects the first line to the last, the act of keeping together that whose nature is to fly apart. Between the first and last lines there exists—a poem—and if it were not for the poem that intervenes, */
    position: absolute;
    width: 927px;
    height: 152px;
    left: 276px;
    top: 3346px;

    font-family: 'Trade Gothic Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    /* or 38px */

    text-align: justify;
    letter-spacing: 0.05em;

    color: #262626;
}

.text12 {
/* not you to them or they to you.  */
    position: absolute;
    width: 927px;
    height: 138px;
    left: 276px;
    top: 3548px;

    font-family: 'Bee Four';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 89.5%;
    /* or 90px */

    text-align: justify;

    color: #262626;
}