body {
    background-color: #82BDDB;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-right: 150px;
    
}

h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    color:#000000;
}

h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    color:#000000;
}

h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    color:#000000; 
}

h4 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    color:#000000;  
}